  <!-- card -->
  <div class="card">
    <!-- img -->
    <img class="object-cover object-center aspect-video w-96 rounded-t-2xl"
      src="https://images.pexels.com/photos/3311574/pexels-photo-3311574.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" />
    <!-- text information -->
    <div class="p-4">
      <small class="text-xs text-blue-400">Automobile company</small>
      <h1 class="pb-2 text-2xl font-medium text-slate-600">Dodge Car</h1>
      <p class="text-sm font-light leading-6 tracking-tight text-slate-400">Dodge is an American brand of automobiles
        and a division of Stellantis, based in Auburn Hills, Michigan..</p>
    </div>
  </div>
